<div class="container">
    <form action="" class="search-form">
        <div class="form-group">
            <input type="text" class="form-control peach-gradient" placeholder="Enter Github username" [(ngModel)]="username" name="username" (keyup)="findProfile()">
        </div>
    </form>
</div>
<div ng-app="myApp" ng-controller="datCtrl">
    <h2>{{ today | date }}</h2>
</div>

<div class="container bg-profile mt-4">

    <div *ngIf="profile">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><strong>&middot;</strong> {{profile.name}} <strong>&middot;</strong>
                    <p><em>{{profile.login}}</em></p>
                </h2>
                <span class="white-text" *ngIf="profile.company">Works at {{profile.company}}</span> <span class="white-text">{{profile.location}}</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="view overlay zoom">
                            <img src="{{profile.avatar_url}}" class="img-fluid " alt="profile photo" height="240" width="280">
                            <div class="mask flex-center">
                                <h4 class="white-text"><strong>{{profile.name}}</strong></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <ul class="list-group">
                            <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
                            <li class="list-group-item" *ngIf="profile.hireable">Available for hire</li>
                            <li class="list-group-item" *ngIf="profile.blog"><a href="{{profile.blog}}" target="_blank">{{profile.blog}}</a></li>
                            <li class="list-group-item" *ngIf="profile.email"><a href="emailto:{{profile.email}}">{{profile.email}}</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <div>
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{profile.followers}} Followers</li>
                                    <li class="list-group-item">Following {{profile.following}}</li>
                                    <li class="list-group-item">{{profile.public_gists}} Public gists</li>
                                    <li class="list-group-item">{{profile.public_repos}} Public Repos</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default mt-4">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>&middot;</strong> REPOSITORIES <strong>&middot;</strong></h3>
                </div>
                <div class="card-columns">
                    <div class="card mt-2 mb-3" *ngFor="let repo of repos">
                        <div class="card-body">
                            <h5 class="card-title">{{repo.name}}</h5>
                            <p class="card-text">{{repo.description}}</p>
                            <a href="{{repo.html_url}}" class="btn btn-sm peach-gradient">VIEW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>